<div class="jumbotron">
	<h1>About us</h1>
	<h2>What the heck is this?</h2>
	<p>Good question. My name is <strong>Gary Lapon</strong>, and I am learning how to use Ruby on Rails via One Month Rails. The course centers around making a simple app similar to Pinterest, which is what this will be. They wanted me to call it "Pinteresting," but I've gone rogue and have decided to call it "Dinguspost."</p>
	<p>Welcome to <strong>Dinguspost</strong>. Stay tuned for more.</p>
</div>